<a href="https://colab.research.google.com/github/Ryanzz06/Tugas-ASD-1/blob/main/D0221302_MuhRyanNurwangsah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(''' urutan tangga meter
  Kilometer (km)
  Hektometer(hm)
  Dekameter (dan)
  Meter (m)
  Desimeter (dm)
  Centimeter (cm)
  Milimeter (mm)''')
Angka_satuan = int (input("masukkan angka : "))
Pangkat = int (input("masukkan pangkat :"))
Hasil = Angka_satuan * 10**Pangkat
print ("hasil operasinya adalah : {}".format(Hasil))

 urutan tangga meter
  Kilometer (km)
  Hektometer(hm)
  Dekameter (dan)
  Meter (m)
  Desimeter (dm)
  Centimeter (cm)
  Milimeter (mm)
masukkan angka : 4
masukkan pangkat :2
hasil operasinya adalah : 400

In [ ]:
print(''' urutan tangga meter
  Kilometer (km)
  Hektometer(hm)
  Dekameter (dan)
  Meter (m)
  Desimeter (dm)
  Centimeter (cm)
  Milimeter (mm)''')
Angka_satuan = int (input("masukkan angka : "))
Pangkat = int (input("masukkan pangkat :"))
Menyederhanakan = 10**Pangkat
Hasil = Angka_satuan / Menyederhanakan
print ("hasil operasinya adalah : {}".format(Hasil))

 urutan tangga meter
  Kilometer (km)
  Hektometer(hm)
  Dekameter (dan)
  Meter (m)
  Desimeter (dm)
  Centimeter (cm)
  Milimeter (mm)
masukkan angka : 400
masukkan pangkat :3
hasil operasinya adalah : 0.4

In [ ]:
for i in range (1,31) :
  if i % 3==0 :
    print (i,"Mamuju")
  elif i % 5==0 :
    print (i,"citty")
  else :
    print (i)

1
2
3 Mamuju
4
5 citty
6 Mamuju
7
8
9 Mamuju
10 citty
11
12 Mamuju
13
14
15 Mamuju
16
17
18 Mamuju
19
20 citty
21 Mamuju
22
23
24 Mamuju
25 citty
26
27 Mamuju
28
29
30 Mamuju